.topic-list a {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  background: #eff0f1;
  color: #3c4146;
  border-radius: 2em;
  margin: 0 4px 3px 0;
  font-weight: 500;
  line-height: 22px;
}
.sideContainer {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  padding-bottom: 20px;
}
.sub-list {
  border-top: 1px solid #ebedef;
  padding-top: 20px;
}
.top-head {
  padding-bottom: 10px;
}
.small-text {
  font-size: 12px;
  color: rgb(88, 96, 105);
}
.contributors {
  border-bottom: 1px solid #ebedef;
  margin-bottom: 10px;
}
