@import "index.css";

* {
  box-sizing: border-box;
}
body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #24292e;
}
button,
a,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}
.navigation-bar {
  top: 0;
  left: 0;
  width: var(--navbar-width);
  z-index: 999;
  box-sizing: border-box;
  border-width: 1px !important;
  position: static;
  display: block;
}
.searchbar:focus {
  border-color: rgb(0, 126, 143);
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(4, 190, 214, 0.3);
  -webkit-box-shadow: 0px 0px 0px 3px rgba(4, 190, 214, 0.3);
  -moz-box-shadow: 0px 0px 0px 3px rgba(4, 190, 214, 0.3);
}
.searchbar {
  height: 32px;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  background: #fafbfc;
}
.searchicon {
  margin: 5px 10px;
  color: #aaa;
}
.search-bar {
  margin-top: 22.5px;
  margin-bottom: 32.5px;
}
details > summary {
  outline: none;
  list-style: none;
  cursor: pointer;
  width: max-content;
}
details.menu {
  position: relative;
}
details.menu > summary::-webkit-details-marker {
  display: none;
  cursor: pointer !important;
}
details.menu[open] > summary::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 80;
  display: block;
  cursor: default;
  content: " ";
  background: transparent;
}
.dropdown-caret {
  white-space: nowrap;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  transform: translate(0, 7px);
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  white-space: nowrap;
  font-size: 14px;
}
.option-header .dropdown-caret {
  position: relative;
  transform: translate(0, -6px);
  display: inline-block;
}

.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  margin-top: -4px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 4px !important;
  box-sizing: border-box;
  color: #000;
  padding-right: 6px;
}
.avatar-user {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-right: 10px;
  text-overflow: ellipsis;
}
.profile {
  display: block;
  font-size: 13px;
  transform: translate(75px, -45px);
  padding-bottom: 20px;
}
.select-menu-modal {
  width: 300px;
  height: 200px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  animation: tobottom 0.12s ease;
  position: absolute;
}
.select-menu-modal-left {
  width: 300px;
  height: 200px;
  max-height: 480px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  animation: tobottom 0.12s ease;
  position: relative;
  border-radius: 4px;
}
.details-menu {
  z-index: 99;
  display: flex;
  top: auto;
  left: auto;
  right: 0;
  bottom: auto;
  position: absolute;
  padding: 0;
  margin-top: 8px;
}
.menu-header {
  padding: 7px 7px 7px 16px;
  font-size: 13px;
}
.hr {
  margin-top: 16px;
  margin-bottom: 16px;
}
.option-header:hover,
[open] > .option-header {
  background: #f5f5f5;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.option-header {
  margin-right: 4px;
  padding-left: 12px;
  padding-right: 12px;
  height: 32px;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 12px;
  line-height: 27px;
}

.menu-list-text {
  font-size: 14px;
}

@keyframes tobottom {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.home-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.top {
  height: 0px;
  width: 0px;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6a737d;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6a737d;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6a737d;
}
