@import "index.css";

* {
  box-sizing: border-box;
}
body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  line-height: 1.5;
  color: #24292e;
}
.menu ::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
.menu ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
.menu ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.menu ::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}
.helper {
  font-size: 12px;
}
.subject-selector {
  border: 1px solid #ccd0d5;
  border-radius: 6px;
  margin-top: 7px;
  max-width: 700px;
  overflow: hidden;
}
button,
input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="check"] {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navigation-bar {
  top: 0;
  left: 0;
  width: var(--navbar-width);
  z-index: 999;
  box-sizing: border-box;
  border-width: 1px !important;
  position: static;
  display: block;
}
.searchbar:focus {
  border-color: #007e8f;
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(4, 190, 214, 0.3);
  -webkit-box-shadow: 0px 0px 0px 3px rgba(4, 190, 214, 0.3);
  -moz-box-shadow: 0px 0px 0px 3px rgba(4, 190, 214, 0.3);
}
.searchbar {
  height: 32px;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;
  background: #fafbfc;
}
.searchicon {
  margin: 5px 10px;
  color: #aaa;
}
.search-bar {
  margin-top: 22.5px;
  margin-bottom: 32.5px;
}
details > summary {
  outline: none;
  list-style: none;
  cursor: pointer;
  width: max-content;
}
details.menu {
  position: relative;
}
details.menu > summary::-webkit-details-marker {
  display: none;
  cursor: pointer !important;
}
details.menu[open] > summary::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 80;
  display: block;
  cursor: default;
  content: " ";
  background: transparent;
}
.menu input[type="radio"]:checked + label {
  font-weight: bold;
  display: none;
}

.dropdown-caret {
  white-space: nowrap;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  transform: translate(0, 7px);
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  white-space: nowrap;
  font-size: 14px;
}
.option-header .dropdown-caret {
  position: relative;
  transform: translate(0, -6px);
  display: inline-block;
}

.css-truncate.css-truncate-target,
.css-truncate .css-truncate-target {
  display: inline-block;
  max-width: 125px;
  margin-top: -4px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 4px !important;
  box-sizing: border-box;
  color: #000;
  padding-right: 6px;
}
.avatar-user {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-right: 10px;
  text-overflow: ellipsis;
}
.profile {
  display: block;
  font-size: 13px;
  transform: translate(75px, -45px);
  padding-bottom: 20px;
}
.select-menu-modal {
  width: 300px;
  height: 200px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  animation: tobottom 0.12s ease;
  position: absolute;
}
.select-menu-modal-left {
  width: 300px;
  max-height: 400px;
  overflow: auto;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  animation: tobottom 0.12s ease;
  position: relative;
  border-radius: 6px;
  font-size: 14px;
}
.details-menu {
  z-index: 99;
  display: flex;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  position: absolute;
  padding: 0;
  margin-top: 8px;
}
.list-image {
  height: 20px;
  width: 20px;
  font-size: 13px;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin-right: 8px;
  background: #edebf7;
  color: #fff;
  text-transform: lowercase;
  margin-left: 30px;
}
.list-item {
  padding: 8px 8px 8px 8px;
  display: flex;
  font-size: 13px;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}
.list-item:hover {
  background: #f5f5f5;
}
.menu-header {
  padding: 7px 7px 7px 16px;
  font-size: 13px;
}
.hr {
  margin-top: 16px;
  margin-bottom: 16px;
}
.option-header:hover,
[open] > .option-header {
  background: #f5f5f5;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.option-header {
  margin-right: 4px;
  padding-left: 12px;
  padding-right: 12px;
  height: 32px;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px 12px;
  line-height: 27px;
}

.menu-list-text {
  font-size: 14px;
}

@keyframes tobottom {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.home-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.top {
  height: 0px;
  width: 0px;
}
.addSubject {
  font-size: 14px;
  border: none;
  color: #fff;
  background: #007e8f;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6a737d;
  opacity: 1; /* Firefox */
}
ul.subject-list li {
  padding: 2px 10px;
  font-size: 12px;
  list-style: none;
  display: inline-flex;
  background: #6e3997;
  margin: 0px 6px 6px 0px;
  color: #fff;
  border-radius: 20px;
}
ul.subject-list {
  height: auto;
  position: relative;
}
.removeSubject {
  cursor: pointer;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6a737d;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6a737d;
}
