.top-heading {
  font-weight: 600;
  font-size: 20px;
}

.dim-text {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.news.space {
  border-bottom: 1px solid #e2e2e2;
}
.course-flex {
  display: flex;
  align-items: center;
}
.lm {
  margin: 0;
  margin-bottom: 4px !important;
}
.space.dark a,
.space.dark h1 {
  color: #2cb9ff;
}

.space.dark .school-desc {
  color: #fff;
}
.space.dark {
  color: #fff;
  background: #1e1e1c;
}
.space.dark .dim-text {
  color: #fff;
}
.space.dark .svg {
  color: #64de98 !important;
}
.space.dark .course-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.course-btn {
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
  color: #278799;
  margin-top: 16px;
  background: #fff;
}
.right-box {
  position: sticky;
  width: 33%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.right-box img {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.full-theme {
  color: #fff;
  background: #278799 !important;
  border: 0;
  margin: 0;
  font-weight: bold;
  height: 40px;
  width: 100%;
}
.side-course {
  padding: 15px 30px;
}
.course-profile {
  width: 100%;
  height: 33%;
  background-image: url("../images/course.png");
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}
.no-lecture {
  width: 100%;
  border: 1px solid #e1e3e8;
  margin-top: 10px;
  border-radius: 4px;
}
.no-lecture h1 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding: 40px 0;
}
.course-view .school-desc {
  font-size: 18px;
}
.course-image {
  height: 145px;
  width: auto;
  margin-right: 15px;
  border-bottom: 1px solid #dcdacb;
}
.course-view .school-left {
  width: auto;
}
.rating {
  margin-top: 15px;
  color: gold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}
h1 a {
  color: #030303;
}
.course-desc h1 {
  font-weight: 600;
  font-size: 20px;
}
.course-desc {
  font-size: 14px;
  margin-bottom: 20px;
}
.desc-content {
  margin-top: 8px;
}
.desc-content li {
  list-style-position: inside;
}
.course-header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #1e1e1c;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 16%);
  z-index: 500;
  padding: 0 30px;
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-header {
  font-weight: bold;
  white-space: nowrap;
}
.info-header {
  display: flex;
  font-size: 14px;
  align-items: center;
}
.rating-num {
  color: rgb(255, 174, 0);
  font-weight: bold;
  margin: 0 5px;
}
.notify-header {
  height: 60px;
  width: 100%;
  background-color: #ffe799;
  display: block;
  display: flex;
  z-index: 700;
  position: relative;
}
.notify-content {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.remove-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  cursor: pointer;
}
.outline {
  border: 1px solid #e1e3e8;
  margin-top: 4px;
  border-radius: 4px;
}
h1 {
  font-weight: 600;
  font-size: 18px;
}
.right-container ul {
  list-style-position: inside;
  font-size: 14px;
  padding-top: 8px;
}
.right-container ul li {
  line-height: 2;
}
