.heading {
  font-weight: 400 !important;
  font-size: 16px;
}
.desk-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.activity-map {
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
}
.d-flex {
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  flex-direction: column;
}
.map-container {
  display: flex;
}
.activity-pointer {
  position: absolute;
  font-size: 12px;
  color: #fff;
  padding: 7px 12px;
  background: #000;
  border-radius: 4px;
}
