.header {
  height: 80px;
  width: 100%;
  background-color: #cbd4e9;
  background-repeat: no-repeat;
  background-size: auto 120px;
  background-image: url("../images/stevejobs24.png");
  background-position: left -10px;
  position: relative;
  top: 0;
  z-index: 500;
  border-bottom: 1px solid #eaeaea;
}
