/* values */
:root {
  --white: #fff;
  --color-scale-gray2: #e1e1e1;
  --color-scale-gray3: #dbdbdb;
  --color-scale-gray4: #aaa;
  --theme-color1: #cbd4e9;
  --theme-color1-light: #e0e5f0;
  --theme-color2: #f6f8fa;
}
/* border */
.border-bottom {
  border-bottom: 1px solid;
}
.border-right {
  border-right: 1px solid;
}
.border-top {
  border-top: 1px solid;
}
.border-left {
  border-left: 1px solid;
}
.border-all {
  border: 1px solid;
}
.border-color-primary {
  border-color: var(--color-scale-gray2);
}
.border-color-secondary {
  border-color: var(--color-scale-gray4);
}
.border-color-third {
  border-color: var(--color-scale-gray3);
}
.border-none {
  border: none;
}
.curve {
  border-radius: 6px;
}
/* position */
.fixed {
  position: fixed !important;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
/* background color */
.white {
  background: var(--white);
}
/* dimensions */
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
a {
  color: #244fad;
  text-decoration: none;
}
/* navbar-width */

@media (min-width: 768px) {
  .side-container {
    max-width: 350px;
    padding-right: 24px;
    padding-left: 24px;
  }
  :root {
    --navbar-width: 33.33333%;
  }
}

@media (min-width: 1012px) {
  .side-container {
    max-width: 350px;
    padding-right: 32px;
    padding-left: 32px;
  }
  :root {
    --navbar-width: 25%;
  }
}
