body {
  background: #fff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.profile-body {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  background: #fff;
}
.profile-head {
  background-color: #f6f8fa;
  top: 0;
  border-color: #e2e2e2;
  z-index: 3;
  position: sticky;
}
.space {
  background-color: #f6f8fa;
  height: 24px;
  width: 100%;
}
ul.profile-nav {
  list-style: none;
  font-size: 14px;
  width: 100%;
}

ul.profile-nav a {
  color: #586069;
}
ul.profile-nav li {
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-bottom: 2px solid transparent;
  margin-left: 1px;
}
ul.profile-nav li:hover {
  color: #24292e;
  background: rgba(0, 0, 0, 0.02);
}
ul.profile-nav li svg {
  color: #959da5;
}
ul.profile-nav li:hover > svg {
  color: #24292e;
}
ul.profile-nav .selected li {
  border-color: #e2e2e2;
  border-bottom-color: #fff;
  background: #fff;
  color: #24292e;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
ul.profile-nav .selected li svg {
  color: #24292e;
}
.display-profile {
  margin-top: -42px;
}
.head li {
  border-color: transparent !important;
  margin-bottom: 0px !important;
}
.head li:hover {
  border-bottom-color: #e2e2e2 !important;
}
.head .selected li {
  border-bottom-color: orange !important;
  background: transparent !important;
}
/* 
.ph-con div {
  border: 1px solid #e2e2e2;
} */
.cn {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding-right: 32px;
  padding-left: 32px;
}
.cn .expand > div {
  padding-right: 16px;
  padding-left: 16px;
}
.cn .left {
  width: 25%;
}
.cn .right {
  width: 75%;
}
.right-container {
  margin-top: 24px;
}
.left .display-profile {
  height: 0px;
  width: 100%;
  padding-bottom: 100%;
  z-index: 4;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
}
.left img.avatar-user {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  box-sizing: border-box;
}
.cn .expand {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
}
.left .name {
  font-size: 26px;
  line-height: 1.25;
}
.left .username {
  font-size: 20px;
  color: #586069;
  line-height: 1.25;
  word-wrap: break-word;
}
.info {
  word-wrap: break-word;
  margin-top: -6px;
}
.follow-button {
  height: 35px;
  width: 100%;
  border: 1px solid var(--color-scale-gray3);
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 16px;
  color: #fff;
  cursor: pointer;
  background: #0095f6;
}
input:focus,
textarea:focus,
button:focus {
  border-color: #007e8f;
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(4, 190, 214, 0.3);
  -webkit-box-shadow: 0px 0px 0px 3px rgba(4, 190, 214, 0.3);
  -moz-box-shadow: 0px 0px 0px 3px rgba(4, 190, 214, 0.3);
}
.follow-button:hover {
  transition: 0.2s ease;
  background: #008eec;
}
.nc {
  padding-top: 16px;
  padding-bottom: 16px;
}

.bio {
  font-size: 16px;
  word-wrap: break-word;
  margin-bottom: 16px;
  width: 100%;
}
.box {
  font-size: 14px;
  color: #586069;
}
.box .icon {
  margin-right: 4px !important;
  margin-top: 1px !important;
  fill: #959da5;
  float: left;
}
.box .num {
  color: #24292e;
}
.box span {
  white-space: nowrap;
}
.extra-info {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
}
.line {
  display: flex;
  white-space: nowrap;
}
.line svg {
  margin-right: 6px;
  margin-top: 1px;
  fill: #6a737d;
  width: 20px;
}
.sticky {
  background: #fff;
}
.top-hd {
  width: 100%;
  height: 0px;
}
.line .text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.editInfo input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.edit-bio {
  width: 100%;
  border: 1px solid #dbdbdb;
  resize: vertical;
  height: 70px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  padding: 8px;
  line-height: 1.5;
  font-size: 13px;
}
.edit-info {
  width: 100%;
  height: 28px;
  border: 1px solid #dbdbdb;
  margin-top: 8px;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px;
  margin-left: 10px;
}
.input-container {
  white-space: nowrap;
  display: flex;
}

.editInfo svg {
  fill: #6a737d;
  width: 23px;
  margin-top: 6px;
}
.edit-button {
  margin-top: 8px;
  display: flex;
}
.edit-button input {
  font-size: 12px;
  padding: 5px 12px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  background: #0095f6;
  color: #fff;
}
.edit-button input.cancelEdit {
  color: #24292e;
  background: #fff;
  margin-left: 5px;
}
