.schoolProfile {
  margin-right: 24px;
}
.profileReplace {
  height: 100px;
  width: 100px;
  /* background: #ffd94c; */
  border-radius: 50%;
  font-family: sans-serif;
  background: #edebf7;
}
.letter {
  font-size: 100px;
  padding: 9px;
  font-weight: bold;
  /* color: #032b3b; */
  color: #fff;
  padding-top: 0;
  line-height: 98px;
  text-align: center;
  width: 100%;
  text-transform: lowercase;
}

.school-name {
  font-size: 24px;
  position: relative;
}
.schoolInfo {
  height: max-content;
  position: relative;
  top: 50%;
  margin-top: -4px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  width: 100%;
}
.school-desc {
  font-size: 14px;
  color: #666;
}
.school-owner {
  font-size: 14px;
  color: #666;
}
.join-school.blue-btn {
  color: #fff;
  background: #1671e6;
}
